input[type="radio"], input[type="checkbox"] {
		margin: 0;
}
.seo_rewrite {
		cursor: pointer;
}

#ajax_loader {
		width: 220px;
		height: 19px;
		display: none;
}

.content {
		overflow-x: auto;
        /*border: 1px solid #90c2e1;*/
        height: auto;
        /*padding: 10px;*/
        text-align: left;
        /* background-color: #fbfbfb; */
}
.content h2 {
		color: #054289;
        font-size: 2em;
        padding: 0;
        margin: 3px 0;
}
.content h3 {
        font-size: 1.8em;
        padding: 0;
        margin: 2px 0 4px 0;
}
.content h4 {
		color: #054289;
        font-size: 1em;
        padding: 0;
        margin: 0 0 10px;
}
.content div.note {
        font-size: 1em;
        padding: 0 0 5px 0;
       font-style: italic;
}

/* Add zebra style to tables */
.even
{
		background-color: #def;
}
.row_highlight {
		background-color: #eee;
}

.drag_class {
		background-color: #ecf6fc;
}

.admin_option, .admin_option_tree {
		background-color: #E1E1B1 !important;
		background-image: -moz-linear-gradient(top , #FDFDFB, #E1E1B1);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFB), to(#E1E1B1));
		background-image: -webkit-linear-gradient(top , #FDFDFB, #E1E1B1);
		background-image: -o-linear-gradient(top , #FDFDFB, #E1E1B1);
		background-image: linear-gradient(to bottom, center top , #FDFDFB, #E1E1B1);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFB', endColorstr='#E1E1B1', GradientType=0);

		border: 1px solid #CECECE;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;

		margin-bottom: 25px;
		min-height: 20px;
		padding: 10px;
}
.admin_option_first_column {
		float: left;
}
.admin_option_second_column {
		float: left;
}
.block_title {
		background-color: #E2E2E2;
		background-image: -moz-linear-gradient(top , #F2F2F2, #E2E2E2);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F2F2F2), to(#E2E2E2));
		background-image: -webkit-linear-gradient(top , #F2F2F2, #E2E2E2);
		background-image: -o-linear-gradient(top , #F2F2F2, #E2E2E2);
		background-image: linear-gradient(to bottom, center top , #F2F2F2, #E2E2E2);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#E2E2E2', GradientType=0);
		background-repeat: repeat-x;
		border-top: 1px solid #CECECE;
		border-left: 1px solid #CECECE;
		border-right: 1px solid #CECECE;
		border-bottom: 0;
		color: #7D7D7D;
		font-size: 1.6em;
		height: 35px;
		line-height: 35px;
		padding: 0 0 0 10px;
		text-shadow: 0 1px 0 #FAFAFA;
}
label.block_title {
		margin-bottom: 0 !important;
		cursor: default;
}
.noborder {
		border: none;
}
.noborder img {
		border: none;
}
.nopadding {
		padding-top: 0px;
}
.admin_option_input {
        background-color: #FFFFFF;
}
.admin_option_name {
        padding: 3px 0;
        font-size: 14px;
        font-weight: bold;
}
.admin_option_description {
		font-size: 14px;
        padding: 0 0 3px;
}

#login_form {
        width: 230px;
        margin: 20px auto;
        text-align: left;
}

#selected_div {
        height: 18px;
        font-size: 1em;
        font-weight: bold;
        color: #D90000;
        width: 350px;
        border: 1px solid #D90000;
        padding: 3px;
        margin-bottom: 5px;
}

#categories_list, #locations_list {
        border: 1px solid #90C291;
        background: #FFFFFF;
        overflow: auto;
        /* Commented rules - because categories list div must be in full height without scrolls
        height: 400px;
        overflow-y: auto;*/
}
.gray {
		color: gray;
}
.tree_option:hover {
		color: #3374b1;
		text-decoration: underline;
}

/*****************************************
Categories tree - listing settings
*/
#categories_tree_wrap {
        border: 1px solid #90C291;
        background: #FFFFFF;
        overflow: auto;
        height: 100%;
        min-height: 200px;
        width: auto;
}
.bold {
		font-weight: bold;
}

/*****************************************
Selected Categories List
*/
#selected_categories_list {
        height: 90px;
        overflow: auto;
        border: 1px solid #90C291;
        background: #FFFFFF;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
}
.categories_item {
        height: 22px;
        padding: 0 4px;
        cursor: pointer;
}

/*****************************************
Locations dropdown boxes
*/
.location_level {
        padding: 5px 0;
}


/*****************************************
Users pages styles
*/
span.user_first, span.user_first:hover {
		color: Chocolate;
} 
td a.status_active, 
td a.status_active:hover,
a.status_active, 
a.status_active:hover, 
span.status_active, 
span.status_paid {
		color: green;
		text-decoration: underline;
}
td a.status_blocked, 
td a.status_blocked:hover, 
a.status_blocked, 
a.status_blocked:hover, 
span.status_blocked, 
span.status_notpaid {
		color: red;
		text-decoration: underline;
		/*cursor: pointer;*/
}
td a.status_suspended, 
td a.status_suspended:hover,
a.status_suspended, 
a.status_suspended:hover, 
span.status_suspended {
		color: #c9bd04;
		text-decoration: underline;
		/*cursor: pointer;*/
}
td a.status_unverified,
td a.status_unverified:hover,
td a.status_unapproved,
td a.status_unapproved:hover,
td a.status_spam,
td a.status_spam:hover,
a.status_unapproved,
a.status_unapproved:hover,
span.status_unapproved,
span.status_spam {
		color: black;
		text-decoration: underline;
		/*cursor: pointer;*/
}
td a.status_notpaid, 
td a.status_notpaid:hover, 
a.status_notpaid, 
a.status_notpaid:hover, 
span.status_notpaid {
		color: orange;
		text-decoration: underline;
		/*cursor: pointer;*/
}
.breadcrumbs {
		padding: 0px; 
		margin-bottom: 12px;
		border-bottom: 3px double #0088CC;
		padding: 0 0 10px;
}
.breadcrumbs ul {
		margin: 0;
}
.breadcrumbs ul li {
		float: left;
		list-style: none;
		font-size: 11px;
		color: #0088CC;
}
.breadcrumbs ul li a {
		font-weight: bold;
		/* color: #90C2E1; */
}

/*
Content fields
*/
.content_field_output {
		padding: 0 0 15px 0; 
		text-align: left;
}
.content_field_output p {
		padding: 5px 0; 
}

.symbols_left {
		border: 1px solid #969696;
		padding: 1px;
		background-color: #FFFFFF;
}
.admin_option h4 {
		font-size: 1.2em;
}
td.table_left_side {
		vertical-align: top;
		text-align: right;
		padding-right: 15px;
		font-weight: bold;
		width: 150px;
}
td.table_right_side {
		vertical-align: bottom;
		padding: 0;
}

/*****************************************
Images gallery
*/
#images_gallery, #files_storage {
		margin: 15px 0;
}

/*****************************************
Search Block
*/
#search_form {
		background-color: #FFFB8F;

		background-image: -moz-linear-gradient(to bottom, #FFFB8F, #FFDB2F);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFB8F), to(#FFDB2F));
		background-image: -webkit-linear-gradient(to bottom, #FFFB8F, #FFDB2F);
		background-image: -o-linear-gradient(to bottom, #FFFB8F, #FFDB2F);
		background-image: linear-gradient(to bottom, #FFFB8F, #FFDB2F);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFB8F', endColorstr='#FFDB2F', GradientType=0);
		
		border: 1px solid #FFEE68;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;

		margin: 10px 0;
		padding: 10px;
}
#what_search {
		background-image: url('../images/magnifier.png');
		background-repeat: no-repeat;
		background-position: 3px 5px;
		width: 96%;
		padding-left: 20px;
}
.location_dropdown_list, .category_dropdown_list {
		margin-bottom: 0;
		width: 100%;
}

/* .search_item, .search_filter_standart {
		margin: 5px;
		padding: 2px;
		float: left;
}
.search_item_button {
		padding: 5px;
}
.search_item label, .search_filter_standart label {
		display: block;
		font-size: 12px;
		font-weight: bold;
		color: #4D4D4D;
}
.search_item div label, .search_item div span {
		color: #4D4D4D;
		display: inline;
		font-size: 12px;
		line-height: 20px;
}
.search_item div span {
		font-size: 14px;
		font-weight: bold;
}
.search_item label span, .search_filter_standart label span {
		font-size: 12px;
}
.search_filter_standart {
		float: left;
}

#what_advanced_block, #where_advanced_block {
		position: absolute;
		margin-top: 5px;
		height: 50px;
		background-color: #FFFFFF;
		border: 1px solid #90C2E1;
		padding: 8px;
		width: 242px;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		z-index: 1;
}
#where_radius_slider {
		margin: 5px 0 0;
}
#advanced_search_block {
		margin: 0;
}
#search_button {
		float: left;
		margin: 6px 0 0;
} */
#advanced_search_button {
		float: left;
		margin-top: 3px;
}
/* .what_where_search_input {
		margin-bottom: 0 !important;
		width: 205px !important;
}
.highlight_search_input {
		color: #969696;
}
#search_by_category_tree {
		position: absolute;
		display: none;
		background-color: #FFFFFF;
		font-size: 1em;
		border: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

		padding: 5px 15px;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		z-index: 100;
}
#search_category_button {
		float: left;
		font-weight: bold;
		margin-top: 3px;
}
#search_category_button a {
		font-size: 1.5em;
} */
.advanced_search {
		font-weight: bold;
}


.maps_canvas {
		border: 1px solid black;
}

/*
Connect field with groups pages
*/
.drag {
		padding: 2px 10px;
		background-color: #E2EDF4;
		border: 1px solid #DDDDDD;
		font-size: 13px;
		cursor: move;
}
ul.sortable {
		list-style: none;
		padding: 10px;
}
.sortable {
		margin: 10px 10px 0 0;
		background-color: #F5F4EE;
		border: 3px dotted #DDDDDD;
		width: 300px;
}
.drop_title {
		width: 100%;
		color: #0F67A1;
		font-weight: bold;
		font-size: 14px;
		padding: 0 0 10px;
		text-align: center;
}
.drop_highlight {
		border: 1px solid #DDDDDD;
		background-color: #FFE45C;
		height: 100%;
		padding: 2px 10px;
}

.field_type {
		color: #666666;
		font-size: 11px;
		padding-top: 2px;
}
.field_options_link {
		font-size: 11px;
		padding-top: 2px;
}

.required_module {
		font-size: 11px;
		color: black;
}
.required_module_active {
		font-size: 11px;
		color: green;
}
.required_module_inactive {
		font-size: 11px;
		color: red;
}

.root_reviews_block {
		margin: 10px 0;
		background-color: #FFFFFF;
		padding: 10px;
}
.root_reviews_block li {
		list-style: none;
}
.reviews_block {
		margin-left: 25px;
}
.review {
		margin: 0 0 20px;
}
.review_author {
		padding: 4px;
		background: #E8E8FF;
}
.review_author_item, .review_author_name, .review_author_rating, .review_author_img, .review_author_date, .review_author_options {
		float: left;
		color: #555555;
		padding-right: 7px;
}
.review_author_item, .review_author_name, .review_author_date, .review_author_options {
		padding-top: 5px;
}
.review_author_name {
		font-weight: bold;
}
.review_body {
		padding: 10px 0;
}

#locations_accordion div {
		font-size: 12px;
}
#locations_accordion h3 {
		font-size: 12px;
}
#manual_coords_block {
		margin: 0;
}

.admin_top_menu_cell {
		float: left;
		width: 210px;
		padding: 0 25px 0 0;
		margin: 4px 0;
}

#suggest_category_link {
		cursor: pointer;
}

.well {
		box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.255);
}

.payment_method_label {
		display: inline-block;
		float: left;
		width: 150px;
		padding-top: 15px;
}
.payment_method_icon {
		float: left;
		margin-bottom: 25px;
		text-align: center;
}