.ui-autocomplete {  text-align: left !important; z-index: 3 !important; }
.ui-autocomplete-loading { background: white url('ui-anim_basic_16x16.gif') right center no-repeat; }

.ui-datepicker { width: 192px !important; padding: 2px !important; z-index: 1100 !important; margin: 0 auto; }
.ui-datepicker select { min-width: 0 !important;} 
.ui-datepicker select.ui-datepicker-month-year {width: 100% !important; }
.ui-datepicker th { font-size: 10px !important;}

.ui-accordion .ui-accordion-content {padding: 1em !important; }
.ui-accordion .ui-accordion-header {margin: 1px 0 1px;}

.ui-tabs .ui-tabs-panel {padding: 5px !important; }

.ui-dialog .ui-dialog-content {
		overflow: hidden !important;
		text-align: left;
}

.ui-widget {
		font-family: Arial !important;
		font-size:12px !important;
}

.ui-state-highlight {
		border: 0 !important;
}
.ui-datepicker-today a {
		background: url("images/ui-bg_highlight-hard_45_82bbe3_1x100.png") repeat-x scroll 50% 50% #82BBE3 !important;
		border: 1px solid #999999 !important;
		color: #555555 !important;
		font-weight: normal !important;
}
.hasDatepicker .ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
		background: url("images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50% #FFFFFF !important; /* a color that fits the widget theme */
		color: #363636 !important; /* a color that is readeable with the color above */
		border: 0 !important;
}
.ui-state-active {
		background: #ECEADF !important; /* after deselect it doesn't remove active-state class, so we have to make another color */
}

.ui-datepicker-calendar td {
		border: 1px solid transparent;
}

.nowidth .ui-datepicker {
		width: auto !important;
}