					<td class="content_field_output field_type_{$field->type}  field_{$field->seo_name}">
						{if $field->value != ''}
							<a id="email_{$field->seo_name}"></a>
							<script type="text/javascript">
								var email='{$part1}'+'{$part2}';
								$("#email_{$field->seo_name}").attr('href', 'mailto: '+email).text(email);
							</script>
						{/if}
					</td>