*,html {
		font-size: 12px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
		/* margin-bottom: 0; */
		width: auto;
}
input[name="captcha"] {
		margin-bottom: 0;
}
textarea {
		/* width: 100%; */
		/* min-width: 400px; */
}
input[type="radio"], input[type="checkbox"] {
		line-height: normal;
		margin: 0;
}
ul {
		list-style: none;
}
li {
		line-height: normal;
}
img {
		max-width: none;
}

.red_asterisk {
		color: red;
		font-weight: bold;
		font-size: 18px;
		line-height: 1px;
		padding: 2px;
}

/* Special rules for BootStrap */
.dropdown-menu {
		padding: 15px;
}
.sidebar-nav {
		padding: 10px;
}
.nav-list .nav-header {
		margin: 5px 0;
}
h3 a {
		font-size: 1em;
}
footer a {
		font-size: 1em !important;
		color: #FFF !important;
		underline
}
footer {
		margin-top: 20px;
		padding: 40px;
		font-size: 1em;
		color: #FFF;

		background-color: #A7A7A9;
		background-image: -moz-linear-gradient(top, #A7A7A9, #494843);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A7A7A9), to(#494843));
		background-image: -webkit-linear-gradient(top, #A7A7A9, #494843);
		background-image: -o-linear-gradient(top, #A7A7A9, #494843);
		background-image: linear-gradient(to bottom, #A7A7A9, #494843);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A7A7A9', endColorstr='#494843', GradientType=0);
}
address {
		padding: 3px 0;
		margin-bottom: 0;
}
.divider-vertical-h4 {
		height: 60px !important;
}
.navbar .nav > li {
		line-height: 20px;
}
.navbar .nav > li > a {
		padding: 10px 9px;
}
.navbar .divider-vertical {
		margin: 0;
}
.navbar-padding {
		padding-left: 25px !important;
		padding-right: 25px !important;
}


#ajax_loader {
		width: 220px;
		height: 19px;
		display: none;
}
.clear_float {
        clear: both;
}

.login_block_link {
		padding: 10px 0 0 0;
		/* font-size: 11px; */
		font-weight: bold;
		color: #006699;
}

.error_msgs, .success_msgs {
        display: none;
}

#footer-links ul{
		list-style: none;
		display: inline;
}
#footer-links li{
		display: inline;
		margin: 0 2px;
}
#footer-links li a{
		font-size: 0.9em;
}

/*
Advertise with us page
*/
.advertiseTable {
        width: 100%;
        font: normal 12px Arial;
        color: #6A6A6A;
        background-color: white;
		margin-bottom: 30px;
}
.advertiseTable th {
        font-size: 11px;
        font-weight: bold;
        color: #000000;
        padding: 5px;
        cursor: default;
        text-align: center;
		border: 1px solid #DDDDDD;
}
.advertiseTable > tbody > tr > td, .advertiseTable > tr > td {
        text-align: center;
        padding: 3px;
		height: 50px;
		border-bottom: 3px solid #FFFFFF;
}
.advertiseTable td.type_name {
		font-size: 13px;
        font-weight: bold;
        color: #000000;
}
.advertiseTable td.sub_cell {
		height: 50px;
		background-color: transparent;
}
.advertiseTable > tbody > tr, .advertiseTable > tr {
		background-color: #EFEFEF;
		background-image: -moz-linear-gradient(top , #FDFDFD, #EAEAEA);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFD), to(#EAEAEA));
		background-image: -webkit-linear-gradient(top , #FDFDFD, #EAEAEA);
		background-image: -o-linear-gradient(top , #FDFDFD, #EAEAEA);
		background-image: linear-gradient(to bottom, center top , #FDFDFD, #EAEAEA);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#EAEAEA', GradientType=0);
}
.advertiseTable td.gap {
		background-color: white;
		font-size: 0px;
		height: 0;
		padding: 0;
}
.free {
		font-weight: bold;
		color: OrangeRed;
}
.adv_step {
		float: left;
		width: 87px;
		text-align: center;
		color: #054289;
		padding: 3px;
		margin-bottom: 0;
}
.adv_step_active {
		font-weight: bold;
}
.adv_circle {
		width: 85px;
		height: 52px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		padding: 32px 0 0;
		background-color: #EDEDEF;

		font-size: 16px;
		border-width: 0;
		border-style: solid;
		border-color: red;

		background-image: -moz-linear-gradient(top , #FFFFFF, #FFCAC7);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#FFCAC7));
		background-image: -webkit-linear-gradient(top , #FFFFFF, #FFCAC7);
		background-image: -o-linear-gradient(top , #FFFFFF, #FFCAC7);
		background-image: linear-gradient(to bottom, center top , #FFFFFF, #FFCAC7);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFCAC7', GradientType=0);

		box-shadow: 0 3px 5px #E3665F, 0 2px 3px #DDDDDD inset;
		-webkit-box-shadow: 0 3px 5px #E3665F, 0 2px 3px #DDDDDD inset;
		-moz-box-shadow: 0 3px 5px #E3665F, 0 2px 3px #DDDDDD inset;

		margin-bottom: 5px;
}
.adv_circle_active {
		font-weight: bold;
		border-color: blue;
		background-image: -moz-linear-gradient(top , #FFFFFF, #C8F2FF);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#C8F2FF));
		background-image: -webkit-linear-gradient(top , #FFFFFF, #C8F2FF);
		background-image: -o-linear-gradient(top , #FFFFFF, #C8F2FF);
		background-image: linear-gradient(to bottom, center top , #FFFFFF, #C8F2FF);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#C8F2FF', GradientType=0);

		box-shadow: 0 3px 5px #60C5E3, 0 2px 3px #DDDDDD inset;
		-webkit-box-shadow: 0 3px 5px #60C5E3, 0 2px 3px #DDDDDD inset;
		-moz-box-shadow: 0 3px 5px #60C5E3, 0 2px 3px #DDDDDD inset;
}
.adv_circle_passed {
		background-image: -moz-linear-gradient(top , #FFFFFF, #FFCAC7);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#FFCAC7));
		background-image: -webkit-linear-gradient(top , #FFFFFF, #FFCAC7);
		background-image: -o-linear-gradient(top , #FFFFFF, #FFCAC7);
		background-image: linear-gradient(to bottom, center top , #FFFFFF, #FFCAC7);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFFFFFF', endColorstr='#ffFFCAC7', GradientType=0);

		box-shadow: 0 3px 5px #E3665F, 0 2px 3px #DDDDDD inset;
		-webkit-box-shadow: 0 3px 5px #E3665F, 0 2px 3px #DDDDDD inset;
		-moz-box-shadow: 0 3px 5px #E3665F, 0 2px 3px #DDDDDD inset;
		border-color: #FFCAC7;
}
.adv_line {
		float: left;
		width: 6%;
		height: 43px;
		border-width: 0;
}
.adv_line_active {
		border-color: blue;
}
.adv_line_passed {
		border-color: green;
}
.hint_icon {
		background: url(../images/icons/question_mark.png) no-repeat;
		width: 16px;
		height: 16px;
		margin: 0 auto;
}
.hint_msg {
		display: none;
		position: absolute;
		padding: 10px;
		width: 280px;
		text-align: left;
		background-color: #FFFFFF;
		border: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
}


.standardTable, .presentationTable
{
        width: 100%;
        font: normal 12px Arial;
        color: #6A6A6A;
        border: 1px solid #E1E5E8;
        border-left:1px solid #EDEDEF;
        border-top:1px solid #EDEDEF;
        background: #FCFCFC;
        margin: 5px 0;
}
.standardTable th, .presentationTable th
{
        font-size: 1em;
        font-weight: bold;
        text-align:left;
        border: 1px solid #DDDDDD;

		padding: 4px;
		text-align: left;
		color: #666666;
		background-color: #EFEFEF;
		background-image: -moz-linear-gradient(top , #FDFDFD, #EAEAEA);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFD), to(#EAEAEA));
		background-image: -webkit-linear-gradient(top , #FDFDFD, #EAEAEA);
		background-image: -o-linear-gradient(top , #FDFDFD, #EAEAEA);
		background-image: linear-gradient(to bottom, center top , #FDFDFD, #EAEAEA);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#EAEAEA', GradientType=0);

		border-bottom: 1px solid #CDCDCD;
        cursor: default;
}
.standardTable th a, .presentationTable th a
{
		text-decoration: underline;
        color: #666666;
}
.standardTable td, .presentationTable td
{
        padding: 4px;
        color: #4D4D4D;
        border: 1px solid #EEEEEE;
        text-align: left;
		background-color: #F9F9F9;
}
.standardTable td.td_header, .presentationTable td.td_header
{
		background-color: #F9F9F9;
		font-style: italic;
}
.standardTable td a, .presentationTable td a
{
        color: #3374b1;
        text-decoration: none;
}
.standardTable td a:hover, .presentationTable td a:hover
{
        color: #3374b1;
        text-decoration: underline;
}

.ascending {
		background: url('../images/arrow_up.png') 0 0 no-repeat;
		padding-left: 16px;
}
.descending {
		background: url('../images/arrow_down.png') 0 0 no-repeat;
		padding-left: 16px;
}
.search_field_currency {
		float: left;
		margin-right: 5px;
		font-size: 16px;
		font-weight: bold;
}
.search_field_from {
		float: left;
		margin-right: 10px;
}
.search_field_to {
		float: left;
}
.drag_class {
		background-color: #ecf6fc;
}

/* ------------ treeview ---------- */
.treeview, .treeview ul {
        padding: 0;
        margin: 0;
        list-style: none;
}

.treeview ul {
        margin-top: 4px;
}

.treeview .hitarea {
        background: url(../images/treeview_img/treeview-default.gif) -64px -25px no-repeat;
        height: 16px;
        width: 16px;
        margin-left: -16px;
        float: left;
        cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
        display: inline;
        float: none;
}

.treeview li {
        margin: 0;
        padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
        background-color: #fdd3d3;
        padding: 0 3px;
        font-weight: bold;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { cursor: pointer; }

.treeview li { background: url(../images/treeview_img/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../images/treeview_img/treeview-default.gif); }
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(../images/treeview_img/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(../images/treeview_img/treeview-red.gif); }

.treeview-black li { background-image: url(../images/treeview_img/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(../images/treeview_img/treeview-black.gif); }

.treeview-gray li { background-image: url(../images/treeview_img/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../images/treeview_img/treeview-gray.gif); }

.treeview-famfamfam li { background-image: url(../images/treeview_img/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(../images/treeview_img/treeview-famfamfam.gif); }


.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.menu_item { padding: 1px 0 1px 20px; display: block;}
.filetree span.folder { background: url(../images/treeview_img/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(../images/treeview_img/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(../images/treeview_img/file.gif) 0 0 no-repeat; }
.filetree span.filesel { background: url(../images/treeview_img/filesel.gif) 0 0 no-repeat; }
.filetree span.filenew { background: url(../images/treeview_img/filenew.gif) 0 0 no-repeat; }
.filetree span.user { background: url(../images/treeview_img/user.png) 0 0 no-repeat; }
.filetree span.home { background: url(../images/treeview_img/house.png) 0 0 no-repeat; }
.filetree span.logout { background: url(../images/treeview_img/door_in.png) 0 0 no-repeat; }
.filetree span.listings { background: url(../images/treeview_img/listings.png) 0 0 no-repeat; }
.filetree span.invoices { background: url(../images/treeview_img/invoices.png) 0 0 no-repeat; }
.filetree span.new_listing { background: url(../images/treeview_img/new_listing.png) 0 0 no-repeat; }
.filetree span.transactions { background: url(../images/treeview_img/transactions.png) 0 0 no-repeat; }
.filetree span.banners { background: url(../images/treeview_img/image_add.png) 0 0 no-repeat; }
.filetree span.my_banners { background: url(../images/treeview_img/images.png) 0 0 no-repeat; }
.filetree span.packages { background: url(../images/treeview_img/package_add.png) 0 0 no-repeat; }
.filetree span.my_packages { background: url(../images/treeview_img/package.png) 0 0 no-repeat; }
.filetree span.my_coupons { background: url(../images/treeview_img/tag_blue.png) 0 0 no-repeat; }
/* ------------ treeview ---------- */
.selected {
    color: red;
}
.file {
    cursor: pointer;
}

.button {
		background-color: #49AFCD;
		background-image: -moz-linear-gradient(top , #5BC0DE, #2F96B4);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
		background-image: -webkit-linear-gradient(top , #5BC0DE, #2F96B4);
		background-image: -o-linear-gradient(top , #5BC0DE, #2F96B4);
		background-image: linear-gradient(to bottom, center top , #5BC0DE, #2F96B4);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5BC0DE', endColorstr='#2F96B4', GradientType=0);

		background-repeat: repeat-x;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		color: #FFFFFF;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-image: none;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;

		border-style: solid;
		border-width: 1px;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
		-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 0;
		padding: 4px 12px;
		text-align: center;
		vertical-align: middle;
}

.button:hover,
.button:active,
.button.active,
.button.disabled,
.button[disabled] {
		color: #ffffff;
		background-color: #2f96b4;
		*background-color: #2a85a0;
}

.button:active,
.button.active {
		background-color: #24748c \9;
}

.button:first-child {
		*margin-left: 0;
}

.button:hover {
		color: #ffffff;
		text-decoration: none;
		background-position: 0 -15px;
		-webkit-transition: background-position 0.1s linear;
		-moz-transition: background-position 0.1s linear;
		-o-transition: background-position 0.1s linear;
		transition: background-position 0.1s linear;
}

.button:focus {
		outline: thin dotted #333;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
}

.button.active,
.button:active {
		background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.button.disabled,
.button[disabled] {
		cursor: default;
		background-image: none;
		opacity: 0.65;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
}

/*****************************************
Listings settings
*/
.img_div_border {
		text-align: center;
		background-color: #FFFFFF;
		border: 2px solid #DAE2E8;
}
.img_div_helper {
		display: inline-block;
    	height: 100%;
    	vertical-align: middle;
}
.img_div_border img {
    	background: #FFFFFF;
    	vertical-align: middle;
}
.listing_full_logo {
		margin: 0 10px 10px 0;
		float: left;
}
.listing_semitable_logo {
		margin: 0 auto;
}

/*****************************************
Languages and Language Areas
*/
#translate {
		text-align: left;
		margin: 10px;
}
#translate span {
		color: #000000;
		font-weight: bold;
}
#translate_flags_block {
		width: 700px;
}
.lang_area_flag {
		float: left;
		width: 80px;
		text-align: center;
		height: 70px;
}
.translated_input {
		padding: 5px 0;
}
#selected_lang {
		height: 20px;
}
#content_to_translate {
		margin: 0 0 10px;
}
.languages_panel {
		background-color: #FFFFFF;
		line-height: 1.2;
		padding: 3px;
		margin-top: 3px;
		height: auto;
		font-size: 1.4em;
		font-weight: bold;
		text-align: left;
		display: none;
}
.lang_area_panel_flag, .language {
		float: left;
		width: 130px;
		text-align: center;
		margin-bottom: 12px;
		font-size: 12px;
		font-weight: normal;
}
#current_language {
		cursor: pointer;
}
#current_language span {
		font-weight: bold;
		text-decoration: underline;
		cursor: pointer;
}
#current_language span:hover {
		text-decoration: underline;
}
.current_lang_block {
		padding: 3px;
		text-align: right;
}
.current_lang_block a:hover {
		opacity:1 !important;
		filter:alpha(opacity=100) !important;
		zoom:1 !important;
}

/* Content fields */
.checkboxes_ul {
		margin-left: 15px;
}


.symbols_left {
		border: 1px solid #969696;
		padding: 1px;
		background-color: #FFFFFF;
}

div.yes {
		width: 20px;
		height: 20px;
		background: url('../images/icons/accept.png');
}
div.no {
		width: 20px;
		height: 20px;
		background: url('../images/icons/delete.png');
}
span.green {
		color: green;
}

.error_highlight {
		border: 1px solid #900;
		background-color: #fde0df;
}

/* RATER PLUGIN */
.statVal {}
.stat {float:left; margin:4px 0 4px; font-weight:bold; font-size:12px; color:#333333;}
.stat label {font-weight: bold;}
.ui-rater>span {vertical-align:top;}
.ui-rater {font-weight:bold; font-size:12px; color:#333333;}
.ui-rater-starsOff, .ui-rater-starsOn {display:inline-block; height:18px; background:url(../images/stars.png) repeat-x 0 0px;}
.ui-rater-starsOn {display:block; max-width:90px; top:0; background-position: 0 -36px;}
.ui-rater-starsHover {background-position: 0 -18px!important;}

.px1 {
		display: block;
		height: 1px;
}
.px2 {
		display: block;
		height: 2px;
}
.px3 {
		display: block;
		height: 3px;
}
.px4 {
		display: block;
		height: 4px;
}
.px5 {
		display: block;
		height: 5px;
}
.px10 {
		display: block;
		height: 10px;
}

.facebook_button {
		float:left;
		display:block;
		line-height: 20px;
		padding-left: 25px;
		padding-right: 4px;
		margin: 10px 0 0;
		background: url('../images/buttons/facebook_button.png') 0 0 no-repeat;
		border: 1px solid #1A356E;
		text-decoration: none;
		color: white !important;
		font-weight: bold;
}

.map_window_logo {
		float: left;
		padding-right: 10px;
}

.field_icon {
		margin-right: 5px;
		display: inline-block;
		vertical-align: middle;
}