*{padding: 0; margin: 0;}
html, body {
        margin:0 auto;
        padding:0;
        background-color: #FFFFFF;
        text-align: center;
        font-family: Arial;
        font-size: 12px;
        color: #000000;
}
form {
		padding: 0;
		margin: 0;
}
img {
        border:0;
        vertical-align: top;
}
a {
        color: #3374b1;
}
a img {
        border: 0;
}
ul {
		margin-left: 15px;
}
input {
		margin: 0;
		background-color: #FFFFFF;
		border: 1px solid #969696;
		padding: 2px;
		font-size: 12px;
		font-family: Arial;
}
input:focus {
		background-color: #F5F7FA;
		border: 1px solid #79A8F5;
}
label {
		padding: 4px 0;
		display: block;
}
textarea {
		background-color: #FFFFFF;
		border: 1px solid #969696;
		font-size: 12px;
		font-family: inherit;
		width: 550px;
		padding: 2px;
}
textarea:focus {
		background-color: #F5F7FA;
		border: 1px solid #79A8F5;
}
select {
		font-size: 12px;
		background-color: #FFFFFF;
		border: 1px solid #969696;
		min-width: 200px;
}
select:focus {
		background-color: #F5F7FA;
		border: 1px solid #79A8F5;
}
.no_min_width {
		min-width: 0;
}
select option {
		padding: 2px;
}
.seo_rewrite {
		cursor: pointer;
}

.red_asterisk {
		color: red;
		font-weight: bold;
		font-size: 18px;
		line-height: 1px;
		padding: 2px;
}

#wrapper {
		min-width: 640px;
		background: url('../images/bg-lined.png') repeat-x;
}

.rounded_corners {
		-moz-border-radius: 7px;
}
#ajax_loader {
		width: 220px;
		height: 19px;
		display: none;
}
.popup_dialog img {
		border: 1px solid black;
		background-color: #FFFFFF;
}
#header_content {
        height: auto;
        margin: 0 10px;
        padding: 0;
}
#header_left {
        text-align: left;
        margin:0;
        width: 50%;
        height: 65px;
}
#header_right {
		color: white;
        text-align: right;
        vertical-align: top;
        width: 50%;
        margin:0;
        height: auto;
}
#login_panel {
}
#login_panel a {
		color: white;
		font-weight: bold;
}
.clear_float {
        clear: both;
}
#login_body {
        width: 940px;
        height: 100%;
        text-align: center;
        margin: 0 auto;
}
#login_form {
        width: 200px;
        margin: 0 auto;
        text-align: left;
        padding-top: 20px
}
.login_block_link {
		padding: 10px 0 0 0;
		font-size: 11px;
		font-weight: bold;
		color: #006699;
}

.error_msgs, .success_msgs {
        display: none;
}
.success_msg {
        border: 1px solid green;
        margin-bottom: 10px;
        text-align: left;
        color: green;
        padding: 10px;
        padding-left: 26px;
        background-image: url('../images/accept.png');
        background-color: #FFFFCC;
        background-repeat: no-repeat;
        background-position: 6px 8px;
}
.error_msg ul, .success_msg ul {
        padding: 0;
        padding-left: 18px;
        margin: 0;
}
#main {
        text-align: left;
        margin: 10px;

}
#content_table {
		vertical-align: top;
}
#content_td {
		padding: 0 0 0 10px;	
}
#content_wrapper {
		width: 100%;
}
.main_menu {
        width: 230px;
        float: left;
        overflow: hidden;
}
.main_menu .menu_content {
        BORDER-RIGHT: #90c2e1 1px solid;
        BORDER-TOP: #90c2e1 0px solid;
        BORDER-LEFT: #90c2e1 1px solid;
        BORDER-BOTTOM: #90c2e1 1px solid;
        BACKGROUND-COLOR: #FFFFFF;
        PADDING: 5px;
        height: 100%;
        overflow: hidden;
}
.main_menu H2 {
        FONT-WEIGHT: bold;
        FONT-SIZE: 1em;
        MARGIN: 0;
        PADDING: 2px 0;
        COLOR: #fff;
        BACKGROUND-COLOR: #0174bb;
        TEXT-ALIGN: center
}
.main_menu .menu_content a, .main_menu .menu_content A:link, .main_menu .menu_content a:visited, .main_menu .menu_content a:active, .admin_option_tree a, .admin_option_tree A:link, .admin_option_tree a:visited, .admin_option_tree a:active
                {color: #3374b1; text-decoration: none; font-family: Tahoma, Verdana; font-size: 11px; line-height: 14px;}
.main_menu .menu_content a:active, .admin_option_tree a:active
                {color: #00000a; text-decoration: none; font-family: Tahoma, Verdana; font-size: 11px}
.main_menu .menu_content A:hover, .admin_option_tree A:hover
                {color: #ff0000; text-decoration: underline; font-family: Tahoma, Verdana; font-size: 11px;}
.main_menu .menu_content  p, .main_menu .menu_content tr, .main_menu .menu_content td, .main_menu .menu_content ul, .main_menu .menu_content li
                {color: #3374b1; font-family: Tahoma, Verdana; font-size: 11px;}
.content {
		overflow-x: auto;
        border: 1px solid #90c2e1;
        height: auto;
        padding: 10px;
        text-align: left;
        background-color: #fbfbfb;
}
.content h2 {
		color: #054289;
        font-size: 2em;
        padding: 0;
        margin: 3px 0;
}
.content h3 {
		color: #054289;
        font-size: 1.6em;
        padding: 0;
        margin: 2px 0 4px 0;
}
.content h4 {
		color: #054289;
        font-size: 1em;
        padding: 0;
        margin: 0 0 10px;
}
.content div.note {
        font-size: 1em;
        padding: 0 0 5px 0;
       font-style: italic;
}

/*
Advertise with us page
*/
.advertiseTable {
        width: 100%;
        font: normal 12px Arial;
        color: #6A6A6A;
        background-color: white;
        border: 1px solid #90C2E1;
}
.advertiseTable th {
        font-size: 11px;
        font-weight: bold;
        color: #000000;
        text-align:left;
        padding: 5px;
        cursor: default;
        text-align: center;
        border-bottom: 1px solid #90C2E1;
}
.advertiseTable td {
        text-align: center;
        padding: 3px;
}
.advertiseTable td.type_name {
		font-size: 13px;
        font-weight: bold;
        color: #000000;
}
.advertiseTable td.sub_cell {
		height: 50px;
}
.advertiseTable tr {
		background-color: transparent;
}
.advertiseTable td.gap {
		background-color: transparent;
		border-top: 1px dashed  #4E9CC6;
		font-size: 0px;
}
.free {
		font-weight: bold;
		color: OrangeRed;
}
.adv_step {
		float: left;
		width: 87px;
		text-align: center;
		color: #054289;
}
.adv_step_active {
		font-weight: bold;
}
.adv_circle {
		width: 85px;
		height: 55px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		padding: 30px 0 0;
		background-color: #EDEDEF;
		font-size: 16px;
		border-width: 1px;
		border-style: solid;
		border-color: red;
}
.adv_circle_active {
		font-weight: bold;
		border-color: blue;
}
.adv_circle_passed {
		border-color: green;
}
.adv_line {
		float: left;
		width: 10%;
		height: 40px;
		border-style: solid;
		border-width: 0 0 2px;
		border-color: red;
}
.adv_line_active {
		border-color: blue;
}
.adv_line_passed {
		border-color: green;
}
.hint_icon {
		background: url(../images/icons/question_mark.png) no-repeat;
		width: 16px;
		height: 16px;
		margin: 0 auto;
}
.hint_msg {
		display: none;
		position: absolute;
		padding: 10px;
		width: 270px;
		font-weight: bold;
		text-align: left;
		background-color: #EEEEFF;
		border-style: solid;
		border-width: 1px;
		border-color: #ffd215;
}


.standardTable, .presentationTable
{
        width: 100%;
        font: normal 12px Arial;
        color: #6A6A6A;
        border: 1px solid #E1E5E8;
        border-left:1px solid #EDEDEF;
        border-top:1px solid #EDEDEF;
        background: #FCFCFC;
        margin: 5px 0;
}
.standardTable th, .presentationTable th
{
        font-size:11px;
        font-weight: bold;
        color: #FFF;
        text-align:left;
        padding: 5px;
        border:1px solid #799EBD;
        background-color: #99B5CD;
        cursor: default;
}
.standardTable th a, .presentationTable th a
{
        color: #FFF;
}
.standardTable td, .presentationTable td
{
        padding: 4px;
        color:#4D4D4D;
        border:1px solid #EEEEEE;
        text-align:left;
}
.standardTable td.td_header, .presentationTable td.td_header
{
        background-color: #FFFFCC;
}
.standardTable td a, .presentationTable td a
{
        color: #3374b1;
        text-decoration: none;
}
.standardTable td a:hover, .presentationTable td a:hover
{
        color: #3374b1;
        text-decoration: underline;
}
/* Add zebra style to tables */
.even
{
		background-color: #def;
}
.row_highlight {
		background-color: #eee;
}


.ascending {
		background: url('../images/arrow_up.png') 0 0 no-repeat;
		padding-left: 16px;
}
.descending {
		background: url('../images/arrow_down.png') 0 0 no-repeat;
		padding-left: 16px;
}
.drag_class {
		background-color: #ecf6fc;
}

.admin_option, .admin_option_tree {
        padding: 15px;
        margin: 0 0 10px;
        border: 1px solid #84002E;
        background-color: #F2F5ED;
        font-family: Trebuchet MS;
}
.admin_option_first_column {
		float: left;
}
.admin_option_second_column {
		float: left;
}
.block_title {
		display: inline;
		background-color: #FFFFFF;
		border: 1px solid #84002E;
		color: #B80028;
		font-size: 12px;
		font-weight: bold;
		left: 10px;
		top: 8px;
		padding: 3px 8px;
		position: relative;
}
.noborder {
		border: none;
}
.noborder img {
		border: none;
}
.nopadding {
		padding-top: 0px;
}
.admin_option_input {
        background-color: #FFFFFF;
}
.admin_option_name {
        padding: 3px 0;
        font-size: 14px;
        font-weight: bold;
}
.admin_option_description {
		font-size: 14px;
        padding: 0 0 3px;
}

#selected_div {
        height: 18px;
        font-size: 1em;
        font-weight: bold;
        color: #D90000;
        width: 350px;
        border: 1px solid #D90000;
        padding: 3px;
        margin-bottom: 5px;
}


#extra {
        WIDTH: auto;
}
#extra H2 {
        PADDING: 0;
        BACKGROUND: url(../images/bg_blue_hdr_r_595x27.gif) #3388b1 no-repeat right top;
        MARGIN: 0px;
        width: auto;
}
#extra H2 SPAN {
        PADDING-TOP: 4px;
        DISPLAY: block;
        HEIGHT: 22px;
        FONT-WEIGHT: bold;
        BACKGROUND: url(../images/bg_blue_hdr_l_5x27.gif) no-repeat left top;
        COLOR: #fff;
        width: auto;
}




/*****************************************
Main Menu tree
(Do not change names)
*/

#ex1 {
    float: left;
    width: 100%;
    display: none;
}
/* ------------ treeview ---------- */
.treeview, .treeview ul {
        padding: 0;
        margin: 0;
        list-style: none;
}

.treeview ul {
        margin-top: 4px;
}

.treeview .hitarea {
        background: url(../images/treeview_img/treeview-default.gif) -64px -25px no-repeat;
        height: 16px;
        width: 16px;
        margin-left: -16px;
        float: left;
        cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
        display: inline;
        float: none;
}

.treeview li {
        margin: 0;
        padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
        background-color: #fdd3d3;
        padding: 0 3px;
        font-weight: bold;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { cursor: pointer; }

.treeview li { background: url(../images/treeview_img/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../images/treeview_img/treeview-default.gif); }
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(../images/treeview_img/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(../images/treeview_img/treeview-red.gif); }

.treeview-black li { background-image: url(../images/treeview_img/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(../images/treeview_img/treeview-black.gif); }

.treeview-gray li { background-image: url(../images/treeview_img/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../images/treeview_img/treeview-gray.gif); }

.treeview-famfamfam li { background-image: url(../images/treeview_img/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(../images/treeview_img/treeview-famfamfam.gif); }


.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.menu_item { padding: 1px 0 1px 20px; display: block;}
.filetree span.folder { background: url(../images/treeview_img/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(../images/treeview_img/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(../images/treeview_img/file.gif) 0 0 no-repeat; }
.filetree span.filesel { background: url(../images/treeview_img/filesel.gif) 0 0 no-repeat; }
.filetree span.filenew { background: url(../images/treeview_img/filenew.gif) 0 0 no-repeat; }
.filetree span.user { background: url(../images/treeview_img/user.png) 0 0 no-repeat; }
.filetree span.home { background: url(../images/treeview_img/house.png) 0 0 no-repeat; }
.filetree span.logout { background: url(../images/treeview_img/door_in.png) 0 0 no-repeat; }
.filetree span.listings { background: url(../images/treeview_img/listings.png) 0 0 no-repeat; }
.filetree span.invoices { background: url(../images/treeview_img/invoices.png) 0 0 no-repeat; }
.filetree span.new_listing { background: url(../images/treeview_img/new_listing.png) 0 0 no-repeat; }
.filetree span.transactions { background: url(../images/treeview_img/transactions.png) 0 0 no-repeat; }
.filetree span.banners { background: url(../images/treeview_img/image_add.png) 0 0 no-repeat; }
.filetree span.my_banners { background: url(../images/treeview_img/images.png) 0 0 no-repeat; }
.filetree span.packages { background: url(../images/treeview_img/package_add.png) 0 0 no-repeat; }
.filetree span.my_packages { background: url(../images/treeview_img/package.png) 0 0 no-repeat; }
.filetree span.my_coupons { background: url(../images/treeview_img/tag_blue.png) 0 0 no-repeat; }
/* ------------ treeview ---------- */
.selected {
    color: red;
}
.file {
    cursor: pointer;
}

/*****************************************
Categories list
*/
.page-list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: block;
}
.clear-element {
		clear: both;
}
.page-item > div {
		width: auto;
		margin: 0.25em 0 0 0;
}
.left {
		text-align: left;
}
.right {
		text-align: right;
}
.sort-handle {
		background: transparent;
		padding-left: 25px;
		background: url('../images/category_item.gif') no-repeat 7px 0;
		cursor:move;
}
.helper {
		border: 1px dashed #000000;
}
.current-nesting {
		background-color: #FFE45C;
}
.bold {
		font-weight: bold;
}

#categories_list, #locations_list {
        border: 1px solid #90C291;
        background: #FFFFFF;
        overflow: auto;
        /* Commented rules - because categories list div must be in full height without scrolls
        height: 400px;
        overflow-y: auto;*/
}
.gray {
		color: gray;
}
.tree_option:hover {
		color: #3374b1;
		text-decoration: underline;
}

.button {
		color: black;
        height: 24px;
        padding-left: 25px;
        background-color: #FFFFD6;
        border: 1px solid #90C2E1;
        font-family: Arial;
        cursor: pointer;
}
.save_button {
        background: #FFFFD6 url('../images/buttons/page_save.png') no-repeat 7px 3px;
}
.copy_button {
        background: #FFFFD6 url('../images/buttons/page_copy.png') no-repeat 7px 3px;
}
.create_button {
        background: #FFFFD6 url('../images/buttons/page_add.png') no-repeat 7px 3px;
}
.delete_button {
        background: #FFFFD6 url('../images/buttons/page_delete.png') no-repeat 7px 3px;
}
.activate_button {
        background: #FFFFD6 url('../images/buttons/page_green.png') no-repeat 7px 3px;
}
.block_button {
        background: #FFFFD6 url('../images/buttons/page_red.png') no-repeat 7px 3px;
}
.enter_button {
        background: #FFFFD6 url('../images/buttons/page.png') no-repeat 7px 3px;
}
.maps_button {
        background: #FFFFD6 url('../images/buttons/map.png') no-repeat 7px 3px;
}
.search_button {
        background: #FFFFD6 url('../images/buttons/page_find.png') no-repeat 7px 3px;
}
.upload_button {
        background: #FFFFD6 url('../images/buttons/world_go.png') no-repeat 7px 3px;
}
.refresh_button {
        background: #FFFFD6 url('../images/buttons/page_refresh.png') no-repeat 7px 3px;
}
.next_button {
        background: #FFFFD6 url('../images/buttons/arrow_right.png') no-repeat 7px 3px;
}



/*****************************************
Locations list
*/
/*#locations_list {
        width: 650px;
        height: 400px;
        overflow-y: auto;
        border: 1px solid #90C291;
        background: #FFFFFF;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
}
.locations_item {
        padding: 1px 4px;
        cursor: pointer;
        width: 592px;
}*/


/*****************************************
Categories tree - listing settings
*/
#categories_tree_wrap {
        border: 1px solid #90C291;
        background: #FFFFFF;
        overflow: auto;
        height: 100%;
        min-height: 200px;
        width: auto;
}
.add_cat {
        color: #3374b1;
        margin-left: 10px;
        text-decoration: underline;
}
.add_cat:hover {
        color: red;
}

/*****************************************
Selected Categories List
*/
#selected_categories_list {
        height: 68px;
        overflow: auto;
        border: 1px solid #90C291;
        background: #FFFFFF;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
}
.categories_item {
        height: 15px;
        padding: 1px 4px;
        cursor: pointer;
}

/*****************************************
Locations dropdown boxes
*/
.location_level {
        padding: 5px 0;
}

/*****************************************
Listings settings
*/
.img_div_border {
		text-align: center;
		background-color: #FFFFFF;
		border: 2px solid #DAE2E8;
}
.img_div_helper {
		display: inline-block;
    	height: 100%;
    	vertical-align: middle;
}
.img_div_border img {
    	background: #FFFFFF;
    	vertical-align: middle;
}

/*****************************************
Languages and Language Areas
*/
#translate {
		text-align: left;
		margin: 10px;
}
#translate span {
		color: #000000;
		font-weight: bold;
}
#translate_flags_block {
		width: 700px;
}
.lang_area_flag {
		float: left;
		width: 80px;
		text-align: center;
		height: 70px;
}
.translated_input {
		padding: 5px 0;
}
#selected_lang {
		height: 20px;
}
#content_to_translate {
		margin: 0 0 10px;
}
.languages_panel {
		background-color: #FFFFFF;
		line-height: 1.2;
		padding: 3px;
		margin-top: 3px;
		height: auto;
		font-size: 1.4em;
		font-weight: bold;
		text-align: left;
		display: none;
}
.lang_area_panel_flag, .language {
		float: left;
		width: 130px;
		text-align: center;
		margin-bottom: 12px;
		font-size: 12px;
		font-weight: normal;
}
#current_language {
		cursor: pointer;
}
#current_language span {
		font-weight: bold;
		text-decoration: underline;
		cursor: pointer;
}
#current_language span:hover {
		text-decoration: underline;
}
.current_lang_block {
		padding: 3px;
}
.current_lang_block a:hover {
		opacity:1 !important;
		filter:alpha(opacity=100) !important;
		zoom:1 !important;
}

/*****************************************
Users pages styles
*/
span.user_first, span.user_first:hover {
		color: Chocolate;
} 
td a.status_active, 
td a.status_active:hover,
a.status_active, 
a.status_active:hover, 
span.status_active, 
span.status_paid {
		color: green;
		text-decoration: underline;
}
td a.status_blocked, 
td a.status_blocked:hover, 
a.status_blocked, 
a.status_blocked:hover, 
span.status_blocked, 
span.status_notpaid {
		color: red;
		text-decoration: underline;
		/*cursor: pointer;*/
}
td a.status_suspended, 
td a.status_suspended:hover,
a.status_suspended, 
a.status_suspended:hover, 
span.status_suspended {
		color: #c9bd04;
		text-decoration: underline;
		/*cursor: pointer;*/
}
td a.status_unverified,
td a.status_unverified:hover,
td a.status_unapproved,
td a.status_unapproved:hover,
td a.status_spam,
td a.status_spam:hover,
a.status_unapproved,
a.status_unapproved:hover,
span.status_unapproved,
span.status_spam {
		color: black;
		text-decoration: underline;
		/*cursor: pointer;*/
}
td a.status_notpaid, 
td a.status_notpaid:hover, 
a.status_notpaid, 
a.status_notpaid:hover, 
span.status_notpaid {
		color: orange;
		text-decoration: underline;
		/*cursor: pointer;*/
}
.breadcrumbs {
		padding: 0px; 
		margin-bottom: 12px;
		border-bottom: 3px double #90C2E1;
		padding: 0 0 10px;
}
.breadcrumbs ul {
		margin: 0;
}
.breadcrumbs ul li {
		float: left;
		list-style: none;
		font-size: 11px;
		color: #90C2E1;
}
.breadcrumbs ul li a {
		font-weight: bold;
		color: #90C2E1;
}

/*
Content fields
*/
.content_field_output {
		padding: 0 0 15px 0; 
		text-align: left;
}
.content_field_output p {
		padding: 5px 0; 
}
.checkboxes_ul {
		margin-left: 15px;
}
.field_icon {
		margin-right: 5px;
		display: inline-block;
		vertical-align: middle;
}


.symbols_left {
		border: 1px solid #969696;
		padding: 1px;
		background-color: #FFFFFF;
}
.admin_option h4 {
		font-size: 1.2em;
}
td.table_left_side {
		vertical-align: top;
		text-align: right;
		padding-right: 15px;
		font-weight: bold;
		width: 150px;
}
td.table_right_side {
		vertical-align: bottom;
		padding: 0;
}

/*****************************************
Images gallery
*/
#images_gallery, #files_storage {
		margin: 15px 0;
}

/*****************************************
Search Block
*/
#search_form {
		background-color: #FBFFFF;
		border: 1px solid #90C2E1;
		margin: 10px 0;
}
.search_item, .search_filter_standart {
		margin: 5px;
		padding: 2px;
		float: left;
}
.search_item_button {
		padding: 5px;
}
.search_item label, .search_filter_standart label {
		display: block;
		font-size: 12px;
		font-weight: bold;
		color: #4D4D4D;
}
.search_item div label, .search_item div span {
		color: #4D4D4D;
		display: inline;
		font-size: 12px;
		line-height: 20px;
}
.search_item div span {
		font-size: 14px;
		font-weight: bold;
}
.search_item label span, .search_filter_standart label span {
		font-size: 12px;
}
.search_item input, .search_filter_standart input {
		font-size: 11px;
}
.search_filter_standart {
		float: left;
}

#what_advanced_block, #where_advanced_block {
		position: absolute;
		margin-top: 5px;
		height: 50px;
		background-color: #FFFFFF;
		border: 1px solid #90C2E1;
		padding: 8px;
		width: 242px;
		-moz-border-radius: 6px;
		z-index: 1;
}
#where_radius_slider {
		margin: 5px 0 0;
}
#advanced_search_block {
		margin: 0;
}
#search_button {
		float: left;
		margin: 6px 0 0;
}
#advanced_search_button {
		float: left;
		margin-top: 3px;
}
.what_where_search_input {
		width: 230px;
}
.highlight_search_input {
		color: #969696;
}
#search_by_category_tree {
		position: absolute;
		display: none;
		background-color: #FFFFFF;
		font-size: 11px;
		border: 1px solid #90C2E1;
		padding: 5px 15px;
		-moz-border-radius: 6px;
		z-index: 100;
}
#search_category_button {
		float: left;
		font-weight: bold;
		margin-top: 3px;
}
.advanced_search {
		font-weight: bold;
}
.option_root {
		background-color: #FFFFCC;
}
.option_subcategory {
		background-color: #FFFFEF;
}

.maps_canvas {
		border: 1px solid black;
}
.map_window_logo {
		float: left;
		padding-right: 10px;
}

/*
Paginator
*/
#paginator {
		padding: 10px 0;
		clear: both;
		text-align: center;
}
.paginator_list {
		font-family: Verdana, Arial;
		font-weight: bold;
}
#paginator a, #paginator strong.current_page {
		background-color: #FFFFFF;
		margin-left: 4px;
		padding: 2px;
		border: 1px solid #CCCCCC;
		color: #3399CC;
		text-decoration: none;
}
#paginator a:hover {
		background-color: #F3F2F2;
		text-decoration: underline;
}
#paginator strong.current_page {
		background-color: #BDDBF8;
		color: #034280;
}

/*
Email Send
*/
.email_form {
		text-align: left;
}
.email_to {
		padding: 5px 0;
		font-size: 14px;
}

a.toggle {
		color: #7F7F7F;
}


/*
Connect field with groups pages
*/
.drag {
		padding: 2px 10px;
		background-color: #E2EDF4;
		border: 1px solid #DDDDDD;
		font-size: 13px;
		cursor: move;
}
ul.sortable {
		list-style: none;
		padding: 10px;
}
.sortable {
		margin: 10px 10px 0 0;
		background-color: #F5F4EE;
		border: 3px dotted #DDDDDD;
		width: 300px;
}
.drop_title {
		width: 100%;
		color: #0F67A1;
		font-weight: bold;
		font-size: 14px;
		padding: 0 0 10px;
		text-align: center;
}
.drop_highlight {
		border: 1px solid #DDDDDD;
		background-color: #FFE45C;
		height: 100%;
		padding: 2px 10px;
}

.field_type {
		color: #666666;
		font-size: 11px;
		padding-top: 2px;
}
.field_options_link {
		font-size: 11px;
		padding-top: 2px;
}
div.yes {
		width: 16px;
		height: 16px;
		background: url('../images/icons/accept.png');
}
div.no {
		width: 16px;
		height: 16px;
		background: url('../images/icons/delete.png');
}
span.green {
		color: green;
}

.required_module {
		font-size: 11px;
		color: black;
}
.required_module_active {
		font-size: 11px;
		color: green;
}
.required_module_inactive {
		font-size: 11px;
		color: red;
}
.error_highlight {
		border: 1px solid #900;
		background-color: #fde0df;
}

/* RATER PLUGIN */
.statVal {}
.stat {float:left; margin:4px 0 4px; font-weight:bold; font-size:12px; color:#333333;}
.stat label {font-weight: bold;}
.ui-rater>span {vertical-align:top;}
.ui-rater {font-weight:bold; font-size:12px; color:#333333;}
.ui-rater-starsOff, .ui-rater-starsOn {display:inline-block; height:18px; background:url(../images/stars.png) repeat-x 0 0px;}
.ui-rater-starsOn {display:block; max-width:90px; top:0; background-position: 0 -36px;}
.ui-rater-starsHover {background-position: 0 -18px!important;}

.root_reviews_block {
		margin: 10px 0;
		background-color: #FFFFFF;
		padding: 10px;
}
.root_reviews_block li {
		list-style: none;
}
.reviews_block {
		margin-left: 25px;
}
.review {
		margin: 0 0 20px;
}
.review_author {
		padding: 4px;
		background: #E8E8FF;
}
.review_author_item, .review_author_name, .review_author_rating, .review_author_img, .review_author_date, .review_author_options {
		float: left;
		color: #555555;
		padding-right: 7px;
}
.review_author_item, .review_author_name, .review_author_date, .review_author_options {
		padding-top: 5px;
}
.review_author_name {
		font-weight: bold;
}
.review_body {
		padding: 10px 0;
}

.px1 {
		display: block;
		height: 1px;
}
.px2 {
		display: block;
		height: 2px;
}
.px3 {
		display: block;
		height: 3px;
}
.px4 {
		display: block;
		height: 4px;
}
.px5 {
		display: block;
		height: 5px;
}
.px10 {
		display: block;
		height: 10px;
}
#locations_accordion div {
		font-size: 12px;
}
#locations_accordion h3 {
		font-size: 12px;
}
#manual_coords_block {
		margin: 0;
}

.admin_top_menu_cell {
		float: left;
		width: 210px;
		padding: 0 25px 0 0;
		margin: 4px 0;
}

#suggest_category_link {
		cursor: pointer;
}

.facebook_button{
		float:left;
		display:block;
		line-height: 20px;
		padding-left: 25px;
		padding-right: 4px;
		margin: 10px 0 0;
		background: url('../images/buttons/facebook_button.png') 0 0 no-repeat;
		border: 1px solid #1A356E;
		text-decoration: none;
		color: white !important;
		font-weight: bold;
}

.payment_method_label {
		display: inline-block;
		float: left;
		width: 150px;
		padding-top: 15px;
}
.payment_method_icon {
		float: left;
		margin-bottom: 25px;
		text-align: center;
}