					</div>
				</div>
				<!-- Content Starts -->
			</div>
		</div>
		<!-- Wrapper Ends -->

		<footer>
			{$site_settings.footer_copyrights|nl2br}
			{$VH->buildContentPagesMenu_bottom($CI)}
		</footer>
	</body>
</html>