<meta itemprop="ratingValue" content="{$rating->value}">
<meta itemprop="bestRating" content="5">

<div class="stat">
	<div class="statVal">
		<span class="ui-rater">
			<span class="ui-rater-starsOff" style="width:90px;"><span class="ui-rater-starsOn" style="width:{$rating->value*18}px"></span></span>
		</span>
	</div>
</div>