					<td class="content_field_output field_type_{$field->type}  field_{$field->seo_name}" style="text-align: left">
						{if $checkboxes|@count != 0}
							{if $checkboxes|@count == 1}
								{$checkboxes.0.option_name}
							{else}
							<br/>
							<ul class="checkboxes_ul">
							{foreach from=$checkboxes item=checkbox}
								<li>{$checkbox.option_name}</li>
							{/foreach}
							</ul>
							{/if}
						{/if}
					</td>