{include file="frontend/header.tpl"}

			<tr>
				<td id="left_sidebar">
				{include file="frontend/left-sidebar.tpl"}
				</td>
      			<td id="content_block" valign="top">
      				<div id="content_wrapper">
      					<div class="breadcrumbs">
      						<div class="breadcrumbs_text">
      							<a href="{$VH->index_url()}">{$LANG_HOME_PAGE}</a> » <span>{$LANG_BREADCRUMBS_SEARCH}</span>
      						</div>
      						{if $CI->load->is_module_loaded('rss')}
                        		<div class="rss_icon">
                        			<a href="{$VH->getRssUrl()}" title="{$VH->getRssTitle()}">
                        				<nobr><img src="{$public_path}images/feed.png" />&nbsp;<img src="{$public_path}images/rss.png" /></nobr>
                        			</a>
                        		</div>
                        	{/if}
                        	<div class="clear_float"></div>
      					</div>
      				
						{if $listings|@count}
							{render_frontend_block
	                        	block_type='listings'
	                        	block_template='frontend/blocks/with_paginator.tpl'
	                        	search_args=$args
	                        	items_array=$listings
	                        	view_name=$view->view
	                        	view_format=$view->format
	                        	type=$type
	                        	listings_paginator=$listings_paginator
	                        	order_url=$order_url
	                        	orderby=$orderby
	                        	direction=$direction
	                        }
                        {else}
							<ul>
								<li>{$LANG_NO_SEARCH}</li>
							</ul>
						{/if}
                 	</div>
                </td>
                <td id="right_sidebar">
                {include file="frontend/right-sidebar.tpl"}
                </td>
			</tr>

{include file="frontend/footer.tpl"}