{include file="backend/admin_header.tpl"}

<script type="text/javascript">
var ajax_save_fields_list_url = '{$VH->site_url("admin/search/save/$group_id/")}';

$(document).ready(function(){ldelim}
		$(".sortable").sortable({ldelim}
        		connectWith: ".sortable",
        		items: 'li.drag',
        		placeholder: 'drop_highlight',
        		forcePlaceholderSize: true
		{rdelim});

		$("ul, li").disableSelection();	

        $("#save").click(function() {ldelim}
        		ajax_loader_show("{$LANG_SEARCH_SAVE_MSG}");
                $.post(ajax_save_fields_list_url, {ldelim}serialized_list: $('#serialized').sortable('serialize'){rdelim}, function(data) {ldelim}
                	ajax_loader_hide();
                {rdelim});
        {rdelim});
{rdelim});
</script> 

				<div class="content">
					<h3>{$group_name}</h3>
					<h4>{$LANG_DONT_FORGET_CHANGES}</h4>

					<div class="clear_float"></div>
					<ul class="sortable admin_option_first_column">
						<li class="drop_title">
							{$LANG_ALL_CONTENT_FIELDS}
						</li>
						{foreach from=$free_fields item=field}
						{assign var=field_id value=$field.id}
						<li id="field_{$field.id}" class="drag">
							{$field.name}
							<div class="field_type">{$field.type_name}</div>
							<div class="field_options_link">
								{if $field.configuration_page}
								<a href="{$VH->site_url("admin/fields/configure/$field_id")}">{$LANG_CONFIGURE_FIELD_OPTION}</a>&nbsp;&nbsp;
								{/if}
								<a href="{$VH->site_url("admin/fields/edit/$field_id")}">{$LANG_EDIT_FIELD_OPTION}</a>&nbsp;&nbsp;
								{if $field.search_configuration_page}
								<a href="{$VH->site_url("admin/fields/configure_search/$field_id/")}">{$LANG_CONFIGURE_FIELD_SEARCH}</a>
								{/if}
							</div>
						</li>
						{/foreach}
					</ul>
					<ul class="sortable admin_option_first_column" id="serialized">
						<li class="drop_title">
							{$LANG_FIELDS_OF_GROUP}
						</li>
						{foreach from=$fields_of_group item=field}
						{assign var=field_id value=$field.id}
						<li id="field_{$field.id}" class="drag">
							{$field.name}
							<div class="field_type">{$field.type_name}</div>
							<div class="field_options_link">
								{if $field.configuration_page}
								<a href="{$VH->site_url("admin/fields/configure/$field_id")}">{$LANG_CONFIGURE_FIELD_OPTION}</a>&nbsp;&nbsp;
								{/if}
								<a href="{$VH->site_url("admin/fields/edit/$field_id")}">{$LANG_EDIT_FIELD_OPTION}</a>&nbsp;&nbsp;
								{if $field.search_configuration_page}
								<a href="{$VH->site_url("admin/fields/configure_search/$field_id/")}">{$LANG_CONFIGURE_FIELD_SEARCH}</a>
								{/if}
							</div>
						</li>
						{/foreach}
					</ul>

					<div class="clear_float"></div>
                     
					<div class="px10"></div>
					<input class="button save_button" type=button id="save" name="submit" value="{$LANG_BUTTON_SAVE_CHANGES}" />
				</div>

{include file="backend/admin_footer.tpl"}