					<td class="content_field_output field_type_{$field->type}  field_{$field->seo_name}">
						{if $field->value}
							<nobr>{if $field->options.0.is_numeric && $VH->is_numeric($field->value)}{$VH->number_format($field->value, 0, $decimals_separator, $thousands_separator)}{else}{$field->value}{/if}</nobr>
						{/if}
					</td>