textarea, input {
		margin-bottom: 10px !important;
}

.index_types_listings {
		margin-bottom: 35px;
}

a {
		font-size: 1em;
}

/* Special rules for BootStrap */
.well {
		/* background-color: #FFF; */
}
#search_bar {
		margin-bottom: 20px;
}

#header_content {
		overflow: hidden;
}
#header_left {
}
#header_right {
        text-align: right;
}
#head-links{
		padding: 3px 0 3px;
}
#head-links ul/* , #footer-links ul */{
		list-style: none;
}
#advertise_link {
		color: #FF6600 !important;
		font-weight: bold !important;
		font-size: 1.5em !important;
}
/* #footer-links ul{
		display: inline;
} */
#head-links li/* , #footer-links li */{
		display: inline;
		margin: 0 2px;
}
#head-links li, #head-links li a{
		color: #868b94;
		font-weight: normal;
}
#head-links li a/* , #footer-links li a */{
		font-size: 0.9em;
}



#menu{
		background-color: #F7F7F9;
		border: 1px solid #E1E1E8;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		margin-bottom: 20px;
}
#menu ul{
		list-style: none;
		text-align: center;
		margin: 0;
}
#menu li{
		list-style: none;
		display: inline;
		line-height: 37px;
		margin: 0 9px;
}
#menu li, #menu li a{
		color: #868B94;
		font-size: 1.15em;
		font-weight: bold;
}
#menu a.active_type {
		text-decoration: underline;
		font-size: 1.5em;
}

a.active_category {
		text-decoration: underline;
		color: #FF6600;
}

/*#left_sidebar {
		width: 19.0769%;
}
#center_part {
		width: 52.7179%;
}
#right_sidebar {
		
}*/

/*
Content pages menu block
*/
ul#content_pages_menu {
}
ul#content_pages_menu li {
		display: inline;
		padding: 3px 3px 3px 15px;
}
ul#content_pages_menu li a {
		font-size: 1.1em;
		font-weight: bold;
		color: #FFFFFF;
		text-decoration: none;
}
ul#content_pages_menu li a:hover {
		color: #FBA255;
}

#quick_list {
		margin: 10px 0 0;
		padding-left: 20px;
		background: url(../images/icons/star.png) 0 0 no-repeat;
}
#quick_list a {
		font-size: 1.2em;
		font-weight: bold;
		text-decoration: underline;
}
.remove_favourite {
		margin: 20px 0 4px;
		padding-left: 20px;
		background: url(../images/icons/cross.png) 0 0 no-repeat;
		font-weight: bold;
}

/*
Categories block
*/
.subcategories_list {
		margin-bottom: 25px;
		font-size: 1em;
}
.subcategory_item {
		float: left;
		padding: 0 5px 0 0;
}
.categories_columns {
		padding: 0 3px 0;
}
.categories_columns:last-child {
		padding: 0;
}
/*
Left sidebar categories block
*/
.left_sidebar_categories {
		padding-bottom: 5px;
		line-height: 1.45em;
}
.left_sidebar_category {
		background: url("../images/icons/arrow_20.gif") no-repeat 0px 4px;
		padding-left: 15px;
        margin-left: 3px;
}
.left_sidebar_category a {
		font-weight: normal;
}
.left_sidebar_categories > .left_sidebar_category > a {
		font-weight: bold;
}
.left_sidebar_categories > .left_sidebar_category {
		margin-bottom: 5px;
}

/*****************************************
Search Block
*/
#search_form {
		/*background-color: #FFFB8F;

		background-image: -moz-linear-gradient(top, #FFFB8F, #FFDB2F);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFB8F), to(#FFDB2F));
		background-image: -webkit-linear-gradient(top, #FFFB8F, #FFDB2F);
		background-image: -o-linear-gradient(top, #FFFB8F, #FFDB2F);
		background-image: linear-gradient(to bottom, #FFFB8F, #FFDB2F);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFB8F', endColorstr='#FFDB2F', GradientType=0);
		
		border: 1px solid #FFEE68;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;

		padding: 10px;*/
}
/* #search_form input, #search_form select {
		width: 92%;
} */
#what_search, #where_search {
		width: 330px;
}
.location_dropdown_list {
		width: 100%;
}
.advanced_search {
		font-weight: bold;
}
.search_item, .search_filter_standart {
		margin: 5px;
		padding: 2px;
}
.search_item {
		float: left;
		margin: 0 30px 5px 0;
}
.search_item_button {
		padding: 5px;
}
.search_item label, .search_filter_standart label {
		display: block;
		/*font-size: 1.6em;
		font-weight: bold;
		color: #1166CC;*/
}
.search_item div label, .search_item div span {
		color: #4D4D4D;
		display: inline;
		font-size: 1em;
}
.search_item div span {
		font-size: 1em;
		font-weight: bold;
}
.search_item label span, .search_filter_standart label span {
		font-size: 1em;
}
.search_filter_standart {
}
#advanced_search_button {
		text-align: right;
		font-size: 1.2em;
}
#search_button {
		text-align: right;
}
.search_field_from select, .search_field_to select {
		min-width: 120px;
}

/*#what_advanced_block, #where_advanced_block {
		position: absolute;
		margin-top: 5px;
		height: 50px;
		background-color: #FFFFFF;
		border: 1px solid #90C2E1;
		padding: 8px;
		width: 242px;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		z-index: 1;
}
#where_radius_slider {
		margin: 5px 0 0;
}
#advanced_search_block {
		margin: 0;
}
#search_button {
		float: left;
		margin: 6px;
		margin-top: 10px;
}
#advanced_search_button {
		margin-top: 3px;
		font-size: 1.2em;
}
.what_where_search_input {
		margin-bottom: 0 !important;
		background-image: url('../images/magnifier.png');
		background-repeat: no-repeat;
		background-position: 3px 5px;
		width: 92% !important;
}
.highlight_search_input {
		color: #969696;
}
#search_by_category_tree {
		position: absolute;
		display: none;
		background-color: #FFFFFF;
		font-size: 1em;
		border: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		padding: 5px 15px;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		z-index: 100;
}
.search_category {
		font-size: 16px;
}
#search_category_button {
		float: left;
		margin-top: 10px;
		font-weight: bold;
}
.search_category_button a {
		font-size: 1.5em;
}
.advanced_search {
		font-weight: bold;
} */

.listing_preview {
		background-image: -moz-linear-gradient(center top , #FFFFFF, #F2F2F2);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#F2F2F2));
		background-image: -webkit-linear-gradient(center top , #FFFFFF, #F2F2F2);
		background-image: -o-linear-gradient(center top , #FFFFFF, #F2F2F2);
		background-image: linear-gradient(to bottom, center top , #FFFFFF, #F2F2F2);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F2F2F2', GradientType=0);
		

		padding: 5px;
		margin: 0 0 25px 0;
		border: 1px solid #29B4D4;
		vertical-align: top;
		box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.255);
		-webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.255);
		-moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.255);

		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;

		/* IE7 CSS Bug fix: triggered hasLayout */
		min-height: 1px;
}
.listing_preview_short {
		padding: 1px 0;
		vertical-align: top;
		/* IE7 CSS Bug fix: triggered hasLayout */
		min-height: 1px;
}
.listing_preview_coupon {
		border-radius: 0;
		border: 2px dotted #B1BDD6;
}

.featured {
		padding-top: 10px;
}
.featured_label {
		color: white;
		font-size: 1.2em;
		font-weight: bold;
		position: absolute;
		margin-top: -20px;
		padding: 0 4px;
		background-color: #29B4D4;
		border-radius: 6px;
}
.featured_vertical {
		background-color: #70b6ed;
		color: #FFFFFF;
		font-weight: bold;
		line-height: 12px;
		padding: 0 2px;
		/*border-top: 1px solid #FFFFFF;
		border-bottom: 1px solid #FFFFFF;*/
		text-align: center;
}
.listing_full_options_panel {
		text-align: right;
		float: right;
}
tr.even {
		background-color: #F0F0F0;
}
tr.odd {
		background-color: #FFFFFF;
}
.map_letter {
		font-size: 1.5em;
		color: #899196;
		margin-top: 5px;
}
.listing_title, .user_login {
		padding: 0;
		color: #054289;
		font-weight: bold;
}
.listing_title a {
		font-size: 1.3em;
}
.listing_title_small {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
		font-size: 1em;
		font-weight: normal;
		text-align: right;
		padding: 2px 3px;
}
.listing_title_small a {
		color: #FFF;
}
.listing_cat_link {
		color: #006699;
}
.view_listing_link {
		color: #FF6600;
		font-size: 1em;
}
.listing_author, .user_registered {
		color: #999999;
		font-size: 1em;
}
.listing_categories, .listing_page_categories, .listing_categories_semitable {
		color: #999999;
		font-size: 1em;
		margin: 2px 0 4px 0;
}
.listing_categories {
		width: 400px;
}
.listing_date {
		font-size: 85%;
}
.listing_head {
		padding-bottom: 5px;
}
.listing_address_block {
		color: #333333;
		font-style: italic;
		font-weight: bold;
		font-size: 1em;
		padding: 0 0 5px 0;
}
#tabs .listing_address_block {
		color: #FFF;
}

.address_label {
		font-weight: normal;
}
.maps_canvas {
		border: 1px solid black;
		margin-bottom: 12px;
		width: 100%;
		/* This is quite interesting effect with infoWindow scrollings when you set small map height size */
		height: 285px;
		z-index: 0;
}
.maps_canvas img {
		max-width: none;
}
.map_info_window {
		width: 290px;
}

.listing_videos_block, .listing_files_block {
		padding: 10px 0 20px;
}
.listing_videos_title {
		font-style: italic;
		font-size: 1.1em;
		padding: 5px 0;
}
.images_cell {
		float: left; 
		margin: 0 10px 15px 0;
}
.videos_cell {
		float: left; 
		margin: 0 40px 15px 0;
}
#listing_header_block, #user_header_block {
		width: 100%;
}
#listing_header, #user_header {
		float: left;
		width: 415px;
}
#listing_logo, #user_logo {
}
.listing_images_gallery {
		padding: 10px 0;
}
.small_image_bg {
		background-color: #F2F2F2;
}
#listing_description, .listing_description {
		padding: 0 0 10px;
		font-size: 1.1em;
}
.listing_video_item {
		float: left;
}
.listing_file_item {
		display: block;
		margin: 0 0 10px 0;
		padding: 1px 0pt 1px 20px;
		line-height: 15px;
}
#locations_categories_tree {
		padding: 0;
}
#locations_categories_tree a {
		font-size: 1.2em;
		color: #054289;
}
/*
Options Panel
*/
#social {
		padding: 2px;
		background-color: #F5FAEB;
		border: 1px solid #CCCCCC;
}
#social img {
		margin: 2px;
}

#listing_options_panel, #user_options_panel {
		float: right;
		width: 200px;
		line-height: 1.3em;
}
.listing_options_panel_item, .user_options_panel_item {
		display: block;
		margin: 6px 0 6px;
		padding: 1px 0pt 1px 20px;
}
span.print { 
		background: url(../images/icons/printer.png) 0 0 no-repeat;
}
span.pdf { 
		background: url(../images/icons/page_white_acrobat.png) 0 0 no-repeat;
}
span.add_favourites { 
		background: url(../images/icons/folder_star.png) 0 0 no-repeat;
}
span.friend { 
		background: url(../images/icons/email_go.png) 0 0 no-repeat;
}
span.owner { 
		background: url(../images/icons/email.png) 0 0 no-repeat;
}
span.all_listings { 
		background: url(../images/buttons/page_copy.png) 0 0 no-repeat;
}
span.report { 
		background: url(../images/icons/report.png) 0 0 no-repeat;
}
span.images { 
		background: url(../images/buttons/images.png) 0 0 no-repeat;
}
span.videos { 
		background: url(../images/buttons/videos.png) 0 0 no-repeat;
}
span.files { 
		background: url(../images/buttons/page_link.png) 0 0 no-repeat;
}
span.map { 
		background: url(../images/buttons/map.png) 0 0 no-repeat;
}
span.reviews { 
		background: url(../images/icons/comments.png) 0 0 no-repeat;
}
span.claim { 
		background: url(../images/icons/folder_link.png) 0 0 no-repeat;
}
span.author { 
		background: url(../images/icons/user.png) 0 0 no-repeat;
}
span.edit { 
		background: url(../images/buttons/page_edit.png) 0 0 no-repeat;
}
span.upgrade { 
		background: url(../images/icons/upgrade.png) 0 0 no-repeat;
}
span.raiseup { 
		background: url(../images/buttons/raise_up.png) 0 0 no-repeat;
}

/* Different blocks */
.listings_of_user {
		margin: 0;
}

/*
Content fields
*/
.field_tablerow_left {
		float: left;
		width: 200px;
		margin-left: 5px;
}
.field_tablerow_right {
		float: left;
}
.tablerow_odd_even:nth-child(even) {
		background: #FFFFFF;
}
.tablerow_odd_even:nth-child(odd) {
		background: #EEEEFF;
}
.field_price {
		font-size: 1.4em;
		color: #005282;
}
.field_score {
		font-size: 1.4em;
		font-weight: bold;
		color: red;
}
.content_field_output {
		padding: 2px 0 2px 0; 
		text-align: left;
}
td.content_field_output {
		padding: 5px; 
		text-align: center;
		vertical-align: middle;
}
.content_field_header {
		width: 100%;
		background: url(../images/field_header_bg.gif);
}
.content_field_header_cell {
		padding: 5px;
		text-align: center;
		color: #FFFFFF;
		font-style: italic;
}
.content_field_header_cell a {
		color: #FFFFFF;
		font-style: italic;
		text-decoration: underline;
}
.content_fields_semitable .content_field_output {
		text-align: left;
}
/*.content_field_output p {
		padding: 10px 0; 
}*/
.checkboxes_ul {
		margin-left: 30px;
}
.checkboxex_complectation_item {
		background: url(../images/icons/accept.png) no-repeat;
		padding-left: 20px;
		margin: 2px 0;
}

/*****************************************
Listings Images settings
*/
.img_div_border {
		margin-bottom: 2px;
}
/*****************************************/


.admin_option_name {
        font-weight: bold;
        padding-bottom: 2px;
}
.admin_option_description {
        padding-bottom: 2px;
}

.paginator_found {
		font-size: 1em;
}
.paginator_orderby {
		float: left;
		margin: 5px 0 10px;
		font-size: 1em;
}
.paginator_select_page {
		float: right;
		margin: 5px 0 10px;
		font-size: 1em;
}
select#page_num {
		min-width: 1px;
		width: 55px;
}

ul.sitemap_root {
		margin:0;
}
ul.sitemap_root > li {
		list-style-type: none;
		margin-bottom: 15px;
		border-top: 1px solid #CCCCCC;
}
h2.sitemap_h2 {
		margin: 4px 0;
}
h2.sitemap_h2 a {
		color: #000000;
		font-size: 1.2em;
		font-weight: bold;
}
ul.sitemap_type_root {
		margin-left: 15px;
}
ul.sitemap_type_root li {
		list-style-type: none;
}

/* RATER PLUGIN */
.stat {
		padding-right: 5px;
}

/* REVIEWS BLOCK */
#review_form {
		margin: 5px 0 0;
}
.review_form_padding {
		margin: 10px 0 0 25px;
}
.root_reviews_block {
		margin: 10px 0;
		background-color: #FFFFFF;
}
.root_reviews_block li {
		list-style: none;
}
.reviews_block {
		margin-left: 25px;
}
.review {
		margin: 0 0 20px;
		background-color: #A5A5A5;
}
.review_author_item, .review_author_name, .review_author_rating, .review_author_img, .review_author_options, .review_publiched_date {
		padding-right: 7px;
		float: left;
}
.review_author_name {
		font-weight: bold;
}
.review_body {
		padding: 10px 0;
}

.answer_link {
		margin-top: 3px;
		text-decoration: underline;
}
.answer_link a {
		font-size: 1em;
}
.comments_author {
		margin-bottom: 3px;
		color: #999999;
		font-size: 1em;
}
.review_author_self {
		padding: 2px 0 5px;
}
.blocked_review {
		background: #E7656E;
		font-weight: bold;
		height: 17px;
		padding: 6px;
}

form#select_page_form {
		margin: 0;
}


#index_header {
		padding: 0;
		margin: 0;
}

/* Banners styles */
.js_advertisement {
		padding: 20px 0;
		text-align: center;
}
.banners_block {
		text-align: center;
		margin: 10px auto;
		background: #F3F3F3;
		padding: 8px 10px 5px;
}
.fire_onclick {
		/*z-index: 100;*/
		cursor: pointer;
}
.banners_advertise_link {
		text-align: right;
		padding-top: 2px;
}
.banners_advertise_link a {
		color: #999999;
		font-size: 1em;
}

#navigation_block {
		padding: 5px 0;
		

		/* background-color: #D1FFFF;

		background-image: -moz-linear-gradient(top, #D1FFFF, #AAFFFF);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D1FFFF), to(#AAFFFF));
		background-image: -webkit-linear-gradient(top, #D1FFFF, #AAFFFF);
		background-image: -o-linear-gradient(top, #D1FFFF, #AAFFFF);
		background-image: linear-gradient(to bottom, #D1FFFF, #AAFFFF);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D1FFFF', endColorstr='#AAFFFF', GradientType=0);

		border: 1px solid #D1DDFF;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px; */
}
#navigation_block:after {
		clear: both;
}
.world_icon {
		display: inline-block;
		float: left;
		margin-right: 5px;
}
.current_location {
		margin-bottom: 5px;
}
.current_location strong{
		color: #868B94;
		font-weight: bold;
		text-decoration: none;
		border-bottom: 1px dashed #868B94;
}
.active_location {
		float: left;
		font-size: 1.45em;
		font-weight: bold;
}
.labeled_location {
		display: inline-block;
		padding: 1px 20px;
		min-width: 100px;
}
.labeled_location_root {
		font-weight: bold;
		display: block;
		font-size: 1.1em;
}
.labeled_location_selected {
		font-size: 1.4em;
		font-weight: bold;
}
.search_in_span {
		font-size: 1em;
}
.search_in_span_object {
		font-size: 1.1em;
		color: #054289;
		font-weight: bold;
		float: none;
		margin: 0;
}
/* .active_location {
		float: left;
		margin: 5px;
} */
#hidden_locations {
		margin: 0 5px 5px;
}


.rss_icon {
		text-align:right;
		margin-left:90%;
		margin-bottom: 10px;
}
.rss_icon_index, .rss_icon {
		text-align: right;
}
.rss_icon_index a, .rss_icon a {
		text-decoration:none;
}

.sidebar_block {
		margin: 15px 0;
}
.block_item, .sidebar_block h1 {
		border-bottom: 1px solid #AAAAAA;
		margin-bottom: 10px;
		padding-bottom: 10px;
		overflow: hidden;
}
.sidebar_block h1 {
		padding-bottom: 5px;
}
.block_item_img {
		border: 1px solid #CCCCCC;
		margin-right: 4px;
		float: left;
}

.event_date {
		float: left;
		height: 35px;
		width: 40px;
		font-weight: bold;
		text-align: center;
		margin-right: 4px;
}
.event_day {
		color: #5C6B77;
		background: #CDD8E2;
		font-size: 1.6em;
}
.event_month {
		color: #FFFFFF;
		background: #081C2B;
}

.price_in_slider {
		position: absolute;
		background-color: red;
		color: white;
		font-weight: bold;
		padding: 1px 2px;
}

.sticky_icon {
		width: 24px;
		height: 24px;
		background: url("../images/icons/pin.png") no-repeat 0 0;
		position: relative;
		right: -10px;
		top: -24px;
		float: right;
}

#print_main {
		padding: 10px;
}
#login_form {
		margin: 0 auto;
		text-align: left;
		width: 200px;
}

.anythingSlider {
		border: 1px solid #29B4D4;
		border-radius: 4px;
		background-color: #F2F2F2;
}
div.anythingSlider .anythingWindow {
		border: 0 !important;
}
.slider_listing_wrapper {
		padding: 0 20px 0 5px;
}
.slider_listing_logo_wrapper {
		float: left;
		margin-right: 15px;
}
.slider_listing_logo {
		float: right;
		margin: 0 0 2px 10px;
}
#slider .stat {
		float: none;
}