{if $items_array|@count}
						<div class="listing_images_gallery">
							{foreach from=$items_array item=image}
								<div style="padding-bottom: 10px">
									<img src="{$users_content}/users_images/images/{$image->file}"/>
								</div>
							{/foreach}
						</div>
{/if}