.jstree ins {
		vertical-align: top !important;
		height: auto !important;
}
.jstree a {
		width: 155px !important;
		/* width: auto !important; */
		white-space: normal !important;
		height: auto !important;
}

/* Categories bar in the search block doesn't limited in width */
#search_by_category_tree.jstree a {
		width: auto !important;
}
.jstree li {
		/*white-space: normal !important;*/
}
.jstree li a ins {
		float: left;
}
.jstree li a span {
		display: block;
}
/*.jstree li a ins {
		display: none;
}*/