					<td class="content_field_output field_type_{$field->type}  field_{$field->seo_name}">
						{if $field_value && $field_currency}
							<nobr><strong>{$field_currency} {$VH->number_format($field_value, 2, $decimals_separator, $thousands_separator)}</strong></nobr>
						{/if}
					</td>