{include file="frontend/header.tpl"}

{assign var="listing_id" value=$listing->id}
{assign var="listing_unique_id" value=$listing->getUniqueId()}
{assign var="user_unique_id" value=$listing->user->getUniqueId()}
{assign var="user_login" value=$listing->user->login}

			<tr>
				<td id="left_sidebar">
				{include file="frontend/left-sidebar.tpl"}
				</td>
      			<td id="content_block" valign="top">
      				<div id="content_wrapper">
      					{$VH->render_banner('listing_header')}
      					{$VH->js_advertisement_append('listing_header')}

      				{if $listing->title != 'untranslated'}
						<script language="Javascript" type="text/javascript">
						$(document).ready(function() {ldelim}
							$('a.lightbox_image').live('mouseover', function(){ldelim}
								$('a.lightbox_image, a.hidden_imgs').lightBox({ldelim}
									overlayOpacity: 0.75,
									imageLoading: '{$public_path}images/lightbox-ico-loading.gif',
									imageBtnClose: '{$public_path}images/lightbox-btn-close.gif',
									imageBtnPrev: '{$public_path}images/lightbox-btn-prev.gif',
									imageBtnNext: '{$public_path}images/lightbox-btn-next.gif'
								{rdelim});
							{rdelim});

							$('#show_reviews').click(function() {ldelim}
								ajax_loader_show();
								$.post('{$VH->site_url("listing/$listing_id/reviews")}',
									function(data) {ldelim}
										$('#reviews_container').html(data);
										ajax_loader_hide();
										$('#show_reviews').parent().hide();
									{rdelim},
									"html");
							{rdelim});
						{rdelim});
						</script>

						{if $search_results_paginator}{$search_results_paginator->showPrevNextButtons($listing->id)}{/if}
						<div class="breadcrumbs"><a href="{$VH->index_url()}">{$LANG_HOME_PAGE}</a>{foreach from=$breadcrumbs item="source_page" key="source_url"}{if $source_page} » <a href="{$source_url}">{$source_page}</a>{/if}{/foreach} » <span>{$listing->title()}</span></div>
						<div id="messages" style="display: none;"></div>

						<div id="listing_header_block">
	                        <div id="listing_header">
	                        	<iframe src="http://www.facebook.com/plugins/like.php?href={$VH->site_url($listing->url())}&amp;layout=standard&amp;show_faces=false&amp;width=345&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:345px; height:45px"></iframe>

	                        	<h1 class="listing_title">{$listing->title()}</h1>
		                        <div class="listing_author">{$LANG_SUMITTED_1} {if $listing->user->users_group->is_own_page && $listing->user->users_group->id != 1}<a href="{$VH->site_url("users/$user_unique_id")}" title="{$LANG_VIEW_USER_PAGE_OPTION}">{$listing->user->login}</a>{else}<strong>{$listing->user->login}</strong>{/if} {$LANG_SUMITTED_2} {$listing->order_date|date_format:"%D %H:%M"}</div>
		                        {if $listing->type->categories_type != 'disabled' && $listing->level->categories_number && $listing->categories_array()|@count}
			                        <div class="listing_page_categories">{$LANG_SUMITTED_3} 
			                        {foreach from=$listing->categories_array() item=category}
			                        	<a href="{$VH->site_url($category->getUrl())}" class="listing_cat_link">{$category->name}</a>&nbsp;&nbsp;
			                        {/foreach}
			                        </div>
		                        {/if}
		                        <div class="clear_float"></div>

		                        {if $listing->level->ratings_enabled}
		                        	{assign var=avg_rating value=$listing->getRatings()}
									{$listing->avg_rating->view()}
								{/if}
		                        <div class="clear_float"></div>
		                        <div class="px5"></div>
							</div>

							<div id="listing_options_panel">
								{if $listing->level->social_bookmarks_enabled}
									<a class="a2a_dd" href="http://www.addtoany.com/share_save"><img src="http://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share/Bookmark"/></a><script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
								{/if}
								{if $listing->user->id == $session_user_id || $content_access_obj->isPermission('Manage all listings')}
									<span class="listing_options_panel_item edit"><a href="{$VH->site_url("admin/listings/edit/$listing_id")}">{$LANG_EDIT_LISTING_OPTION}</a></span>
								{/if}
								{if $listing->level->option_print}
									<span class="listing_options_panel_item print"><a href="javascript: void(0);" onClick="$.jqURL.loc('{$VH->site_url("print_listing/$listing_unique_id/")}', {ldelim}w:590,h:750,wintype:'_blank'{rdelim}); return false;">{$LANG_PRINT_PAGE}</a></span>
								{/if}
								{if $listing->level->option_pdf}
									<span class="listing_options_panel_item pdf"><a href="http://pdfmyurl.com/?url={$VH->site_url("listings/$listing_unique_id")}">{$LANG_PDF_PAGE}</a></span>
								{/if}
								{if $listing->level->option_quick_list}
									<a href="javascript: void(0);" class="add_to_favourites" listingid="{$listing->id}" title="{$LANG_ADD_REMOVE_QUICK_LIST}"></a>&nbsp;<a href="javascript: void(0);" class="add_to_favourites_button">{$LANG_ADD_REMOVE_QUICK_LIST}</a>&nbsp;
								{/if}
								{if $listing->level->option_email_friend}
									<span class="listing_options_panel_item friend"><a href="{$VH->site_url("email/send/listing_id/$listing_id/target/friend/")}" class="nyroModal">{$LANG_EMAIL_FRIEND}</a></span>
								{/if}
								{if $listing->level->option_email_owner}
									<span class="listing_options_panel_item owner"><a href="{$VH->site_url("email/send/listing_id/$listing_id/target/owner/")}" class="nyroModal">{$LANG_EMAIL_OWNER}</a></span>
								{/if}
								<span class="user_options_panel_item all_listings"><a href="{$VH->site_url("search/search_owner/$user_login")}" title="{$LANG_USER_VIEW_ALL_LISTINGS}">{$LANG_USER_VIEW_ALL_LISTINGS}</a></span>
								{if $listing->level->option_report}
		                        	<span class="listing_options_panel_item report"><a href="{$VH->site_url("email/send/listing_id/$listing_id/target/report/")}" class="nyroModal">{$LANG_REPORT_ADMIN}</a></span>
		                        {/if}
								{if $listing->type->locations_enabled && $listing->locations_count() && $listing->level->maps_enabled}
									<span class="listing_options_panel_item map"><a href="#addresses-tab" id="addresses">{$LANG_LISTING_ADDRESSES_OPTION}</a></span>
								{/if}
								{if $listing->level->video_count && $listing->getAssignedVideos()}
									<span class="listing_options_panel_item videos"><a href="#videos-tab" id="videos">{$LANG_LISTING_VIDEOS_OPTION}</a></span>
								{/if}
								{if $listing->level->files_count && $listing->getAssignedFiles()}
									<span class="listing_options_panel_item files"><a href="#files-tab" id="files">{$LANG_LISTING_FILES_OPTION}</a></span>
								{/if}
								{if $listing->level->reviews_mode && $listing->level->reviews_mode != 'disabled'}
		                        	<span class="listing_options_panel_item reviews"><a href="#reviews-tab" id="reviews">{$listing->getReviewsCount()} {if $listing->level->reviews_mode == 'reviews'}{$LANG_REVIEWS}{else}{$LANG_COMMENTS}{/if}</a></span>
		                        {/if}
		                        {if $content_access_obj->isPermission("Claim on listings") && $listing->claim_row.ability_to_claim}
		                        	<span class="listing_options_panel_item claim"><a href="{$VH->site_url("claim/$listing_unique_id")}">{$LANG_CLAIM_LISTING_OPTION}</a></span>
		                        {/if}
		                        {if $listing->user->users_group->is_own_page && $listing->user->users_group->id != 1}
		                        	<span class="listing_options_panel_item author"><a href="{$VH->site_url("users/$user_unique_id")}">{$LANG_VIEW_USER_PAGE_OPTION}</a></span>
		                        {/if}
		                        {if $content_access_obj->isPermission('Change listing level') && $listing->type->buildLevels()|@count > 1}
		                        	<span class="listing_options_panel_item upgrade">{$LANG_LEVEL_TH}: {$listing->level->name} (<a href="{$VH->site_url("admin/listings/change_level/$listing_id")}">{$LANG_CHANGE_LISTING_LEVEL_OPTION}</a>)</span>
		                        {/if}
		                        {if $listing->level->raiseup_enabled}
	                             	<span class="listing_options_panel_item raiseup"><a href="{$VH->site_url("admin/listings/raiseup/$listing_id")}">{$LANG_RAISE_LISTINGS_UP}</a></span>
	                            {/if}
							</div>
							<div style="float: left">
								{if $listing->listing_description}
								<div style="width: 276px;">
									<h1>{$LANG_LISTING_SHORT_DESCRIPTION}</h1>
									<div id="listing_description">
										{if $listing->level->description_mode == 'richtext'}
										{$listing->listing_description}
										{else}
										{$listing->listing_description|nl2br}
										{/if}
									</div>
								</div>
								{/if}
							</div>
							<div class="clear_float"></div>
						</div>


						{if $listing->content_fields->fieldsCount() && $listing->content_fields->isAnyValue()}
							<div id="content_fields_block">
			               		{$listing->content_fields->outputMode('tablerow')}
			               	</div>
			               	<div class="px10"></div>
						{/if}

						{if $listing->level->images_count && $images|@count}
							{render_frontend_block
					      		block_type='images'
					      		block_template='frontend/blocks/images_straight_gallery.tpl'
					      		existed_images=$images
							}
						{else}
							{render_frontend_block
					      		block_type='images'
					      		block_template='frontend/blocks/images_straight_gallery.tpl'
					      		existed_images=$listing->logoImage()
							}
						{/if}

						{if $available_options_count > 1}
							<div id="tabs">
						{/if}

                        {if $listing->type->locations_enabled && $listing->locations_count()}
							<div id="addresses-tab">
								<div class="listing_address_block">
									{assign var="i" value=1}
									{foreach from=$listing->locations_array() item=location}
									<div class="address_line">{if $listing->locations_count()>1}<span class="address_label">{$LANG_LISTING_ADDRESS} {$i++}:</span> {/if}{$location->compileAddress()}</div>
									{/foreach}
								</div>
								{if $listing->level->maps_enabled && $listing->locations_count(true)}
									<div id="map"></div>
						      		{render_frontend_block
						      			block_type='map_and_markers'
						      			block_template='frontend/blocks/map_standart_directions.tpl'
						      			existed_listings=$listing->id
						      			map_width=$listing->level->explodeSize('maps_size', 'width')
						      			map_height=$listing->level->explodeSize('maps_size', 'height')
						      			show_anchors=false
						      			show_links=false
									}
								{/if}
							</div>
						{/if}

						{if $listing->level->video_count && $listing->getAssignedVideos()}
							<div id="videos-tab">
								<h1 id="videos">{$LANG_LISTING_VIDEOS}</h1>
								{foreach from=$videos item=video}
								<div class="listing_videos_block">
									<div>
	                         			<object width="{$listing->level->explodeSize('video_size', 'width')}" height="{$listing->level->explodeSize('video_size', 'height')}"><param name="movie" value="http://www.youtube.com/v/{$video->video_code}&hl=en&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/{$video->video_code}&hl=en&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="{$listing->level->explodeSize('video_size', 'width')}" height="{$listing->level->explodeSize('video_size', 'height')}"></embed></object>
	                         		</div>
	                         		<div class="listing_videos_title">
	                         			{$video->title}
	                         		</div>
	                         	</div>
								{/foreach}
							</div>
						{/if}

						{if $listing->level->files_count && $listing->getAssignedFiles()}
							<div id="files-tab">
								<h1 id="files">{$LANG_LISTING_FILES}</h1>
								<div class="listing_files_block">
								{foreach from=$files item=file}
									{assign var="file_id" value=$file->id}
									<span class="listing_file_item" style="background: url('{$public_path}images/file_types/{$file->file_format}.png') 0 0 no-repeat;"><a href="{$VH->site_url("download/$file_id")}" target="_blank">{$file->title} ({$file->file_size})</a></span>
								{/foreach}
								</div>
							</div>
						{/if}

						{if $listing->level->reviews_mode && $listing->level->reviews_mode != 'disabled'}
							<div id="reviews-tab">
								<span class="listing_options_panel_item reviews">
									<a href="javascript: void(0);" id="show_reviews" class="show_info_link">Show reviews</a>
								</span>
								<div id="reviews_container"></div>
							</div>
						{/if}

						{if $available_options_count > 1}
						</div>
						{/if}
					{else}
					<div class="error_msg rounded_corners">
						<ul>
							<li>{$LANG_LISTING_TRANSLATION_ERROR}</li>
						</ul>
					</div>
					{/if}
						
                 	</div>
                </td>
                <td id="right_sidebar">
                {include file="frontend/right-sidebar.tpl"}
                </td>
			</tr>

{include file="frontend/footer.tpl"}